<nav class="navbar navbar-expand-md navbar-light bg-primary p-1">
    <div class="container-md">
        <a class="navbar-brand text-white p-0 m-0 d-flex" href="#">
            <div class="p-0 m-0"><img src="img/logo.png" alt="" width="53" height="55"></div>
            <div class="align-self-center p-1 fw-normal" style="font-size: 1.75rem">Mazeed</div>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav ms-auto fw-bold">
                <a class="nav-link" href="#">ENG</a>
                <a class="nav-link" href="#">List Business</a>
                <a class="nav-link" href="#">Register</a>
                <a class="nav-link" href="#">Sign in</a>
            </div>
        </div>
    </div>
</nav>

@code {

}
