@page "/"

<div class="container">
    <div class="row height d-flex justify-content-center align-items-center">
        <div class="col-md-8">
            <div class="search"> <span class="oi oi-magnifying-glass fa-search text-success"></span> <input type="text" class="form-control" placeholder="Search Business Name"> <button class="btn btn-primary text-success fw-bold">Search</button> </div>
        </div>
    </div>
</div>